* {
  font-family: "Mona-Sans";
  font-style: normal;
  font-weight: 400;
}
@font-face {
  font-family: mona-sans;
  font-style: normal;
  font-weight: 400;
  src:
    local("Mona-Sans"),
    url(https://fonts.cdnfonts.com/s/91271/Mona-Sans-Regular.woff)
      format("woff");
}
@font-face {
  font-family: mona-sans;
  font-style: normal;
  font-weight: 500;
  src:
    local("Mona-Sans"),
    url(https://fonts.cdnfonts.com/s/91271/Mona-Sans-Medium.woff) format("woff");
}
@font-face {
  font-family: mona-sans;
  font-style: normal;
  font-weight: 600;
  src:
    local("Mona-Sans"),
    url(https://fonts.cdnfonts.com/s/91271/Mona-Sans-SemiBold.woff)
      format("woff");
}
@font-face {
  font-family: mona-sans;
  font-style: normal;
  font-weight: 700;
  src:
    local("Mona-Sans"),
    url(https://fonts.cdnfonts.com/s/91271/Mona-Sans-Bold.woff) format("woff");
}

.mona-sans {
  font-family: "Mona-Sans";
}
